.formContainer {
	width: 752px;
	height: 457px;
  padding: 44px 60px;
  min-width: 500px;
  margin-top: 48px;
  margin-bottom: 48px !important;
}

.input {
	margin-top: 16px;
}

.button {
	margin-top: 24px !important;
	margin-left: 8px !important;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.card {
	width: 300px;
	height: 189px;
	position: relative;
	padding-top: 16px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 16px;
}
